*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0px;
  padding: 0px;
  /* padding-bottom: 3em;  */
  font-size: 1.8rem;
  font-family: sans-serif;
  max-width: 144rem;
  /* min-width: 37.5rem; */
  /* height: 100vh; */
  /* border: 1px solid black; */
}

/* colors */
:root {
  /*  Primary */

  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --brightCyan: hsl(192, 70%, 51%);

  /*  Neutral */

  --grayishBlue: hsl(233, 8%, 62%);
  --lightGrayishBlue: hsl(220, 16%, 96%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

img {
  width: 100%;
  height: auto;
}
.background-img img {
  max-width: 30rem;
  min-width: 29.9rem;
}
.container {
  padding: 0rem 2rem;
}

h1,
h2,
h3 {
  color: var(--darkBlue);
  text-align: center;
}
