/* MOBILE VERSION */
/* I have changed the break point from what was put 375px */
@media (max-width: 961px) {
  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }

  .footer .footer-nav {
    margin-left: 0px;
  }
  .footer .footer-nav div {
    margin: 0px !important;
    text-align: center;
  }
  .footer .cta {
    text-align: center !important;
  }
}
